# GROUP ASSIGNMENT [COSC2753]

**Members**:
- Vo Thanh Luan – s3822042

# I. Problem statement

In [3]:
# Importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# II. Data retrieving

In [5]:
data_label_df = pd.read_csv("./data/data_labels_mainData.csv")
data_label_extra_df = pd.read_csv("./data/data_labels_extraData.csv")

In [6]:
data_label_df

      InstanceID  patientID  ImageName cellTypeName  cellType  isCancerous
0          22405          1  22405.png   fibroblast         0            0
1          22406          1  22406.png   fibroblast         0            0
2          22407          1  22407.png   fibroblast         0            0
3          22408          1  22408.png   fibroblast         0            0
4          22409          1  22409.png   fibroblast         0            0
...          ...        ...        ...          ...       ...          ...
9891        1625         60   1625.png   epithelial         2            1
9892        1626         60   1626.png   epithelial         2            1
9893        1627         60   1627.png   epithelial         2            1
9894        1628         60   1628.png   epithelial         2            1
9895        1629         60   1629.png   epithelial         2            1

[9896 rows x 6 columns]

In [7]:
data_label_extra_df

       InstanceID  patientID  ImageName  isCancerous
0           12681         61  12681.png            0
1           12682         61  12682.png            0
2           12683         61  12683.png            0
3           12684         61  12684.png            0
4           12685         61  12685.png            0
...           ...        ...        ...          ...
10379       20028         99  20028.png            0
10380       20029         99  20029.png            0
10381       20030         99  20030.png            0
10382       20031         99  20031.png            0
10383       20032         99  20032.png            0

[10384 rows x 4 columns]